@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
body{
  /* overflow: hidden; */
  position: relative;
  height: auto;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: #565387 !important;
  font-weight: 700;
}

.nav-link {
  font-size: 1.3rem !important;
}

.nav-link:hover {
  color: #3498db !important;
}

.menu_active {
  font-weight: bold !important;
  border-bottom: 1px solid #565387 !important;
}

.btn-get-started {
  text-decoration: none;
  border: 1ps solid;
  border: 1px solid;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.6s;
}

.btn-get-started:hover {
  color: white;
  background-color: #3498db;
}

.brand-name {
  color: #3498db;
}

.animated {
 margin-left: 80px;
  position: relative;
  animation: glide 2s ease-in-out alternate infinite;
}

@keyframes glide {
  from {
    left: 0px;
    top: 0px;
  }

  to {
    left: 0px;
    top: 20px;
  }

}

.form-label{
  font-weight: 600 !important;
}